@tailwind base;
@tailwind components;
@tailwind utilities;
body::-webkit-scrollbar {
  display: none;
}
body {
  cursor: none;
  scroll-behavior: smooth;
}
.img-color {
  filter: grayscale(1);
  transition: 0.5s ease-in-out;
}
.img-color:hover {
  filter: grayscale(0);
}

.slider {
  max-width: 1400px;
  color: #fff;
  border-radius: 10px;
  grid-template-columns: 35% 65%;
  position: relative;
  display: grid;
}

.slider .content_container {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 500px) {
  .slider .content_container {
    display: none;
  }

  .slider {
    grid-template-columns: 100% 0%;
  }
  .slider .slides {
    height: 400px !important;
  }
}
.slider .slides {
  overflow-y: auto;
  /* max-height: 500px; */
  height: 280px;

  scrollbar-width: none;
}

.slider .slides::-webkit-scrollbar {
  display: none;
}

.slider .slides .slide {
  min-height: calc(100% - 80px);
  /* background-color: skyblue; */
  display: flex;
  padding: 40px;
  color: white;
  align-items: center;
}

.hOvuuP {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
  color: #a8b2d1;
}
.dVLQAC {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.dVLQAC li a {
  padding: 8px;
  transition: 0.5s ease-in;
}
.dVLQAC li a:hover {
  color: #9333ea;
}
.dVLQAC::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}

.jSIwrL {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: #a8b2d1;
}
.jJFfEJ {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.jJFfEJ::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 0px auto;
  background-color: #a8b2d1;
}
.jJFfEJ a {
  margin: 20px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.jJFfEJ a:hover {
  color: #9333ea;
  transition: 0.5s ease-in;
}

.logo {
  width: 200px;
  animation: logoFade 0.5s infinite ease-in-out;
}
@keyframes logoFade {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 1.2s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.glass {
  background-color: #0f172a90;
  z-index: 99;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.circle {
  height: 50px;
  width: 50px;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 100%;
  cursor: none;
  z-index: -1;
}
.obj1 {
  opacity: 0.5;
  width: 120px;
  position: absolute;
  bottom: 80px;
  right: 80px;
  transform: rotateZ(323deg);
  z-index: -1;
}
.obj2 {
  opacity: 0.4;
  width: 90px;
  position: absolute;
  top: 200px;
  left: 80px;
  transform: rotateZ(39deg);
  z-index: -1;
}
.obj3 {
  opacity: 0.34;
  width: 290px;
  position: absolute;
  top: 240px;
  left: -200px;
  transform: rotateZ(39deg);
}

.landing-animation {
  opacity: 0.75;
  width: 540px;
  height: 540px;
  position: absolute;
  right: 0%;
  top: 4%;
  z-index: -1;
}

.person-animation {
  opacity: 0.4;
  width: 280px;
  height: 260px;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: -1;
}

@media only screen and (max-width: 600px) {
  .person-animation {
    width: 120px;
    height: 120px;
  }
  .landing-animation {
    width: 100%;
    height: 100%;
    right: 0px;
    top: 20%;
    opacity: 0.2;
  }
}
